.navbar{
    margin-left: 25px;
    font-family:"Spectral";
    background-color: rgba(255, 255, 255, 0);
}
.AIRMAX {
    margin-top: 200px;
    font-family:"Ubuntu";
    font-size: 96px;
    margin-left: 25px;
    font-weight: bold;

}