{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}
{% block body %}
<header>
<nav class="navbar navbar-expand-lg navbar-fixed-top">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
  <img class=kart src="../static/img/SS 1.svg">
  </nav>
</header>
  <section>
        <div class="row">
          <div class="AIRMAX">AIR MAX 720</div>
  </section>
{% endblock %}